step_function_definition.json
{
  "Comment": "Scones image workflow",
  "StartAt": "SerializeImage",
  "States": {
    "SerializeImage": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:241533162782:function:serializeImageData",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload.body",
      "Next": "ClassifyImage"
    },
    "ClassifyImage": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:241533162782:function:classifyImage",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload.body",
      "Next": "ConfidenceCheck"
    },
    "ConfidenceCheck": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:241533162782:function:filterInferences",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload.body",
      "End": true
    }
  }
}